@import "_variables";

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .button {
    font-weight: $weight-medium;
  }

  .navbar {
    align-items: stretch;
    display: flex;
  }

  .navbar-brand {
    color: $dark;
    font-size: 1.2rem;
    font-weight: $weight-medium;
    user-select: none;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    align-items: stretch;
    display: flex;
  }

  .modal-card {
    padding: 0 0.75rem;
  }

  .wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .columns {
    margin: 0;
    overflow-x: scroll;
  }

  .column {
    flex: none;
    padding: 0 0.75rem;
    width: 400px;
  }

  .list {
    background-color: $grey-lightest;
    border-radius: 8px;
    padding: 1rem;
  }

  .list-title {
    display: block;
    font-size: 1.2rem;
    font-weight: $weight-medium;
    margin-bottom: 1rem;
    text-align: center;
  }

  .list-footer {
    display: flex;
    font-weight: $weight-medium;
    justify-content: center;
    margin-top: 1rem;
  }

  .card {
    cursor: pointer;
    user-select: none;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
