// COLORS
$primary: #3273dc;
$danger: #d63031;
$dark: #2f3542;
$shadow-light: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0 0 1px rgba(10, 10, 10, 0.02);
$shadow-dark: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2),
  0 0 0 1px rgba(10, 10, 10, 0.02);

// TEXT
$link: $primary;
$link-hover: lighten($primary, 10);
$body-size: 16px;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-light: $weight-normal;
$weight-bold: $weight-semibold;

// BREAKPOINTS
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$widescreen-enabled: true;
$fullhd-enabled: false;
